

<body>

        <div class="section" >
          <div class="col-md-10 top"  style="background-color:#2a3f56;  position:fixed; z-index:1;     padding: 13px 50px;">
                
              <h1><b><span style="color: #ddd; font-family:Arial, Helvetica, sans-serif;padding-bottom: 30px; font-size:36px" >pay pooma</span></b></h1>

          </div>
<div class="col-md-2 top "  style="background-color:#2a3f56;  position:fixed; z-index:1; right:1px;    padding: 27px 100px;">
                <button class="button"  (click)="logout()">logout</button>
             
          </div>
           ri
          
    
</div>
</body>
