
        
        <body>
          

          <div class="col-md-9 column1"  style="float:right; background-color:#aaa;     margin-top: 50px;   padding: 50px 55px;;">
          <form #loginForm="ngForm" (ngSubmit)="onView(employeeId)" style="border:1px solid #ccc">
            
            <div class="container">
              <h1>Bank Details<span style="float:right;color: #ff4545;">{{output}}</span></h1>
                
                <hr>
                <div class="row">
                  <div class="col-md-12" >
                    <div>
                    <label class="col-md-3" style="    margin-top: 15px;"> Enter Employee Id</label>
</div><div>
                    <input type="text" class="col-md-3" placeholder="Employee Id" name="employeeId" required [(ngModel)]="employeeId">
                    </div><div>
                    <button type="submit" class="col-md-3 signuppbtn" style="margin: -63px 120px; padding: 10px 18px;">View</button>
               </div>
                  </div>
</div>                   
          </div>  
          </form>
          <form #loginForm="ngForm"   (ngSubmit)="onUpdate(employeeId,accountName,accountNumber,ifscCode,bankName,branch,city)" style="border:1px solid #ccc">
              
           
            <div class="container" *ngIf="show"> 

              <div class="col-md-4" [hidden]='true' >
                <label for="psw"><b>Employee Id</b></label>
                 <input type="text"  name="employeeId" required [(ngModel)]="employeeId" >
                </div>
                <div class="col-md-12">
                  <label class="col-md-3" style="    margin-top: 15px;"> Account Holder Name </label>
               
               <input type="text" class="col-md-4" placeholder="Account Holder Name" name="accountName" required [(ngModel)]="accountName">
               </div>
               <div class="col-md-12">
                <label class="col-md-3" style="    margin-top: 15px;">Account Number</label>
             
             <input type="text" class="col-md-4" placeholder="Account Number" name="accountNumber" required [(ngModel)]="accountNumber">
             </div>
             <div class="col-md-12">
              <label class="col-md-3" style="    margin-top: 15px;">IFSC Code</label>
           
           <input type="text" class="col-md-4" placeholder="IFSC Code" name="ifscCode" required [(ngModel)]="ifscCode">
           </div>
           <div class="col-md-12">
            <label class="col-md-3" style="    margin-top: 15px;">Bank Name</label>
         
         <input type="text" class="col-md-4" placeholder="Bank Name" name="bankName" required [(ngModel)]="bankName">
         </div>
         <div class="col-md-12">
          <label class="col-md-3" style="    margin-top: 15px;"> Branch</label>
       
       <input type="text" class="col-md-4" placeholder="Branch" name="branch" required [(ngModel)]="branch">
       </div>
       <div class="col-md-12">
        <label class="col-md-3" style="    margin-top: 15px;">City</label>
     
     <input type="text" class="col-md-4" placeholder="City" name="city" required [(ngModel)]="city">
     </div>
    
                 
              
                  <div class="col-md-12 clearfix">
    
                    <button type="submit" class="signupbtn">Update</button>
                  </div>
             
            </div>
          </form>
          </div>
          
          </body>
