

<body>

<div class="section">
  <div class="col-md-8 column1"  style="background-color:#aaa;   margin-top: 0px;   padding:45px 64px;">

      <h3><b><span style="color: #2a3f56; font-family:Arial, Helvetica, sans-serif;font-size:33px">HR and PayRoll Management System In Cloud</span></b></h3>
    
  </div>
  <div class="col-md-4 column2" style="background-color:#2a3f56;   margin-top: 0px;   padding:75px 50px 100px 50px;">
    
<h1><b><span style="color: #ddd; font-size:36px" >pay pooma</span></b></h1>
    
   
    <form #loginForm="ngForm"   (ngSubmit)="onSubmit(userName,password)">

        <div class="col-md-12" >
        
          <input type="text" placeholder="Username" name="userName" required [(ngModel)]="userName" >
       </div>
       <div class="col-md-12"> 
     
       <input type="password" placeholder="Password" name="password" required [(ngModel)]="password">
       </div>
       

       <div class="col-md-12">
      <button type="submit" class="signupbtn" >Login</button>
 </div>
 <div *ngIf="isLoginError" class="col-md-12">
 <span style="color: #ff4545;  margin-left:22px;"><b>Incorrect Username or Password</b></span>
</div>
    </form>
</div>
 <div class="footer">
  <p> Developed by rajesh  </p>
</div> 
</div>


</body>

